Repository Instagram-clone-project-team/Instagram-clone, pull requests merged in 2023-12, with the labels that each got.

#74 test - Post/Comment
  src/main/java/com/project/Instagram/domain/comment/controller/CommentLikeController.java
  src/main/java/com/project/Instagram/domain/comment/entity/Comment.java
  src/main/java/com/project/Instagram/domain/comment/service/CommentLikeService.java
  src/main/java/com/project/Instagram/domain/mention/service/MentionService.java
  src/main/java/com/project/Instagram/domain/post/controller/PostController.java
  src/main/java/com/project/Instagram/domain/post/controller/PostLikeController.java
  src/main/java/com/project/Instagram/domain/post/repository/PostRepository.java
  src/main/java/com/project/Instagram/domain/post/service/PostLikeService.java
  src/main/java/com/project/Instagram/domain/post/service/PostService.java
  src/test/java/com/project/Instagram/domain/comment/controller/CommentControllerTest.java
  src/test/java/com/project/Instagram/domain/comment/controller/CommentLikeControllerTest.java
  src/test/java/com/project/Instagram/domain/comment/service/CommentLikeServiceTest.java
  src/test/java/com/project/Instagram/domain/comment/service/CommentServiceTest.java
  src/test/java/com/project/Instagram/domain/post/controller/PostLikeControllerTest.java
  src/test/java/com/project/Instagram/domain/post/repository/PostRepositoryTest.java
  src/test/java/com/project/Instagram/domain/post/service/PostLikeServiceTest.java
  src/test/java/com/project/Instagram/domain/post/service/PostServiceTest.java
Labels: test

#75 test - Comment
  src/main/java/com/project/Instagram/domain/comment/dto/CommentRequest.java
  src/main/java/com/project/Instagram/domain/follow/repository/FollowRepositoryQuerydslImpl.java
  src/main/java/com/project/Instagram/domain/search/repository/SearchRepositoryQuerydslImpl.java
  src/test/java/com/project/Instagram/domain/comment/controller/CommentControllerTest.java
  src/test/java/com/project/Instagram/domain/comment/service/CommentLikeServiceTest.java
  src/test/java/com/project/Instagram/domain/comment/service/CommentServiceTest.java
Labels: test

#79 test - FollowTest
  src/test/java/com/project/Instagram/domain/follow/controller/FollowControllerTest.java
  src/test/java/com/project/Instagram/domain/follow/repository/FollowRepositoryQuerydslImplTest.java
  src/test/java/com/project/Instagram/domain/follow/repository/FollowRepositoryTest.java
  src/test/java/com/project/Instagram/domain/follow/service/FollowServiceTest.java
Labels: test

#80 test- follow
  src/test/java/com/project/Instagram/domain/follow/controller/FollowControllerTest.java
  src/test/java/com/project/Instagram/domain/follow/repository/FollowRepositoryTest.java
  src/test/java/com/project/Instagram/domain/follow/service/FollowServiceTest.java
  src/test/java/com/project/Instagram/domain/post/controller/PostControllerTest.java
Labels: test

#87 init - SearchTest 세팅 / Follow 주석 삭제
  src/main/java/com/project/Instagram/domain/follow/controller/FollowController.java
  src/test/java/com/project/Instagram/domain/follow/controller/FollowControllerTest.java
  src/test/java/com/project/Instagram/domain/follow/repository/FollowRepositoryTest.java
  src/test/java/com/project/Instagram/domain/follow/service/FollowServiceTest.java
  src/test/java/com/project/Instagram/domain/search/controller/SearchControllerTest.java
  src/test/java/com/project/Instagram/domain/search/repository/RecentSearchRepositoryTest.java
  src/test/java/com/project/Instagram/domain/search/repository/SearchRepositoryTest.java
  src/test/java/com/project/Instagram/domain/search/service/SearchServiceTest.java
Labels: init

#89 test - search
  src/main/java/com/project/Instagram/domain/follow/repository/FollowRepository.java
  src/test/java/com/project/Instagram/domain/post/controller/PostControllerTest.java
  src/test/java/com/project/Instagram/domain/search/controller/SearchControllerTest.java
  src/test/java/com/project/Instagram/domain/search/service/SearchServiceTest.java
Labels: test

#88 feat - VariableHandler
  src/main/java/com/project/Instagram/domain/follow/repository/FollowRepositoryQuerydslImpl.java
  src/main/java/com/project/Instagram/global/error/BusinessException.java
  src/main/java/com/project/Instagram/global/error/GlobalExceptionHandler.java
  src/main/java/com/project/Instagram/global/error/ValidationResponse.java
  src/main/java/com/project/Instagram/global/response/ResultResponse.java
  src/test/java/com/project/Instagram/domain/follow/controller/FollowControllerTest.java
Labels: feat

#90 Test -Search
  src/main/java/com/project/Instagram/domain/search/entity/Search.java
  src/test/java/com/project/Instagram/domain/follow/repository/FollowRepositoryQuerydslImplTest.java
  src/test/java/com/project/Instagram/domain/follow/repository/FollowRepositoryTest.java
  src/test/java/com/project/Instagram/domain/post/controller/PostControllerTest.java
  src/test/java/com/project/Instagram/domain/search/controller/SearchControllerTest.java
  src/test/java/com/project/Instagram/domain/search/repository/RecentSearchRepositoryTest.java
  src/test/java/com/project/Instagram/domain/search/repository/SearchRepositoryTest.java
  src/test/java/com/project/Instagram/domain/search/service/SearchServiceTest.java
Labels: test
